@{ ViewData["Title"] = "Shut-App";
}

<div id="welcome-container">
    <div id="header">
        <h1>Shut-App</h1>
        <p>Chat with kewl people!</p>
        <h1>beta 1.0</h1>
    </div>
    <div id="links-container">
        <a asp-controller="Auth" asp-action="Login">Login</a>
        <a asp-controller="Auth" asp-action="Register">Register</a>
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/authHomeStyle.css" />

}