@model MainViewModel
@{
    ViewData["Title"] = "Login";
}


<div id="login-user">
    <form asp-action="Login" method="post" autocomplete="off">
        <label asp-for="UserLoginViewModel.Name"></label>
        <input asp-for="UserLoginViewModel.Name" type="text" />
        <label asp-for="UserLoginViewModel.Password"></label>
        <input asp-for="UserLoginViewModel.Password" type="password" />
        <input type="submit" />
    </form>
    <div>
        <span asp-validation-for="UserLoginViewModel.Name"></span>
        <span asp-validation-for="UserLoginViewModel.Password"></span>
    </div>
</div>

