@using System.Security.Authentication


<div id="auth-navbar">
    @if (User.Identity.IsAuthenticated)
    {
        @*<a asp-controller="Profile" asp-action="Index">@User.Identity.Name</a>*@
    <a id="profile" asp-controller="Profile" asp-action="Index">
            @*<p class="centered-text">@User.Identity.Name </p>*@
            @*<img id="navbar-profile-image" src="@Url.Action("GetImage", "Profile")" alt="Profile picture" />*@
    
    </a>

        <form id="auth-form-loggedin" method="post" asp-controller="Auth" asp-action="Logout">
            <input type="submit" value="Logout" />

        </form>
    }
</div>
