@model MainVM
@*<p> chaxbox <p>
        @foreach (var item in Model.ChatsViewModels)
        {
        <p>@item.Message</p>
        @foreach (var msg in item.PrivateMessage)
        {
            <p>@msg.ToUser.UserName</p>
        }
    }*@
<div id="text-print">
</div>

@*@section scripts{
    <script src="~/js/chathub.js"></script>
}*@