<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/mainStyle.css" />
    @await RenderSectionAsync("styles", false)
</head>
<body>
    <nav>
        <div id="auth-container">
            @{
                await Html.RenderPartialAsync("_Auth");
            }
        </div>
    </nav>


    <div id="main-content">
        @RenderBody()
    </div>
    <script src="~/lib/signalr/signalr.js"></script>

    @await RenderSectionAsync("scripts", false)
</body>
</html>