@model MainVM

<nav id="navbar">

    <div id="friend-list-menu">
        <i id="show-friends" class="fas fa-user-friends"></i>
    </div>

    @{
        await Html.RenderPartialAsync("_Auth");
    }



    <div id="friend-request-container">
        @{
            await Html.RenderPartialAsync("_FriendRequest", Model);
        }
        <div id="friend-request-result">
        </div>
    </div>
    <div id="search-container">
        @{
            await Html.RenderPartialAsync("_Search", Model);
        }
    </div>
</nav>