@model User
@{
    ViewData["Title"] = "Register";
}

<div id="register-user">
    <form asp-action="Register" method="post" autocomplete="off">
        <label asp-for="Name"></label>
        <input name="Name" type="text" />
        <label asp-for="Email"></label>
        <input name="Email" type="email" />
        <label asp-for="Password"></label>
        <input name="Password" type="password" />
        <input type="submit" />
    </form>
    <div>
        <span asp-validation-for="Name"></span>
        <span asp-validation-for="Email"></span>
        <span asp-validation-for="Password"></span>
    </div>
</div>



