@model MainVM

<div id="k">
    <div id="friend-request-container">
        @{
            await Html.RenderPartialAsync("_FriendRequest", Model);
        }
        <div id="friend-request-result">
        </div>
    </div>

</div>



<div id="search-container">
    @{
        await Html.RenderPartialAsync("_Search", Model);
    }
</div>


<div id="friends-and-chat">
    <div id="friends-container">

    </div>
    <div id="chat-container">

        @{
            await Html.RenderPartialAsync("_ChatBox", Model);
        }
    </div>
</div>


@section styles{
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/chatHubStyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/searchStyle.css" />
}
@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/lib/typeahead.js/typeahead.jquery.min.js"></script>
    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/lib/typeahead.js/bloodhound.min.js"></script>
    <script src="~/js/friendRequestHub.js"></script>
    <script src="~/js/chathub.js"></script>
    <script src="~/js/Search.js"></script>
}