@model MainVM

@{
    await Html.RenderPartialAsync("_Navbar", Model);
}

@*<div class="backdrop">
    </div>*@
<div id="friends-and-chat" data-simplebar>
    <div id="friends-container">
        <div id="friend-item">
        </div>
        
        <div id="group-container">
            <form autocomplete="off">
                <input id="new-group" placeholder="new group" />
            </form>
            <button id="new-group-btn" type="submit">create</button>
        </div>
        <div id="group-not-show">
            groups
        </div>
    </div>
    <div id="chat-container">

        @{
            await Html.RenderPartialAsync("_ChatBox", Model);
        }
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/chatHubStyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/searchStyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/friendListProfileImage.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/modalGroupInviteStyle.css" />

}
@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/lib/typeahead.js/typeahead.jquery.min.js"></script>
    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/lib/typeahead.js/bloodhound.min.js"></script>
    <script src="~/js/friendRequestHub.js"></script>
    <script src="~/js/chathub.js"></script>
    <script src="~/js/Search.js"></script>
    <script src="~/js/other.js"></script>
}