@*@model IEnumerable<Chat>*@

@model MainViewModel
@section scripts{
    <script src="~/js/chathub.js"></script>


}
@section styles{
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/chatHubStyle.css" />
}

@foreach (var item in Model.FreindsViewModel)
{
    <p>@item.Key</p>
}

<div id="chat-container">
    @{
        await Html.RenderPartialAsync("_ChatBox", Model);
    }
</div>


