@*@model IEnumerable<Chat>*@

@model MainViewModel
@section scripts{
    <script src="~/lib/js/chathub.js"></script>

}

@foreach (var item in Model.FreindsViewModel)
{
    <p>@item.Key</p>
}

    <div id="chat-container">
        @{
            await Html.RenderPartialAsync("_ChatBox",Model);
        }
    </div>


