#chat-container {
    background: #333;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 2vh;
    display: grid;
    padding: 30px 0 30px 0;
}

.user-message-container {
    background: #4EBA6F;
    justify-self: right;
    padding: 10px;
    width: auto;
    position: relative;
    border-radius: .4em;
}

.user-message-wrapper {
    width: 80%;
    background: none;
    margin: 0 auto 3px auto;
    display: grid;
}

.user-message-container:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #4EBA6F;
    border-right: 0;
    border-bottom: 0;
    margin-top: -16.5px;
    margin-right: -10px;
}

.other-message-wrapper {
    width: 80%;
    background: none;
    margin: 0 auto 3px auto;
    display: grid;
}

    .other-message-wrapper p {
        background: #A9E8DC;
        position: relative;
        justify-self: left;
        padding: 10px;
        width: auto;
        border-radius: .4em;
    }

        .other-message-wrapper p:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-right-color: #A9E8DC;
            border-left: 0;
            border-bottom: 0;
            margin-top: -16.5px;
            margin-left: -10px;
        }

#friends-and-chat {
    display: grid;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: 0 auto;
    height: 90%;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.change-size-full {
    grid-template-columns: 100%;
}

.change-size-half {
    grid-template-columns: minmax(130px, 15%) 85%;
}

#send-msg {
    font-size: 2.5vh;
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
  
    box-sizing: border-box;
    height: 30px;
    border: none;
    height: 40px;
    text-align: center;
    background: #437d9f;
    color: #fff;
}

#send-msg:hover {
    background: #4EBA6F;
    color: #fff;
    transition: ease-in-out 0.3s;
}



#chat-text {
    font-size: 2.5vh;
    width: 80%;
    height: 40px;
    position: absolute;
    /*margin: auto 5% auto 5%;*/
    bottom: 0px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background: #444444;
    color: #fff;
}

#text-print {
    background: #fafafa;
    margin: 0 auto 3px auto;
    width: 90%;
    max-width: 700px;
    margin-bottom: 26px;
    border-radius: 5px;
}

.display-none {
    display: none;
}

#group-container {
    width: 30%;
    min-width: 130px;

     position: fixed;
    top: 25%;
    left: 130px;
    z-index: 5000;
    cursor: pointer;



    /*position: sticky;*/
    border: 2px;
    padding-top: 4px;
    min-width: 120px;
    box-sizing: border-box;
    background: #333;
    display: grid;
    grid-template-columns: 100%;
    -webkit-box-shadow: -5px 72px 59px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 72px 59px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 72px 59px 0px rgba(0,0,0,0.75);
    display: none;
}

#group-container form {
    width: 100%;
    margin: 0 auto;
}

#group-container input {
    margin: 0 auto;
    font-size: 3vh;
    padding: 3px;
    width: 100%;
    background: #575757;
    color: white;
    box-sizing: border-box;

}



#new-group-btn {
    overflow: hidden;
    width: 50px;
    box-sizing: border-box;
    margin: 3px auto 3px auto;
    padding: 4px;
    border: none;
    justify-self: center;
    background: #787878;
    color: #fff;
}

#new-group-btn:hover {
    background: #437d9f;
    transition: ease-in 0.3s;
    color: #fff;
}

.group-name {
    cursor: pointer;
    box-sizing: border-box;
    padding: 3px;
    border-left: 5px solid #575757;
}

.group-name:hover {
        border-left: 5px solid #437d9f;
        transition: ease-in 0.2s;
        box-sizing: border-box;
        -webkit-box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
        -moz-box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
        box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
}

#text-print {
    background: #3c3c3c;
    box-sizing: border-box;
    padding-top: 20px;
}


#group-not-show{
    background: orange;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px;
    opacity: 0.5;
    position: fixed;
    top: 20%;
    left: 130px;
    z-index: 5000;
    cursor: pointer;
}

    #group-not-show:hover {
        opacity: 1;
    }

    @media all and (min-width: 858px) {
        #group-not-show {
        
        left: 15%;
    }
}

