.friend-profile-image {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    object-fit: cover;
    opacity: 0.7;
}

.friend-no-profile-image {
    width: 100%;
    font-size: 50px;
    height: auto;
    max-height: 80px;
    margin: 0 auto;
    object-fit: cover;
}



.friend-div {
    /*background: green;*/
    width: 90%;
    max-width: 300px;
    height: 100px;
    /*display: inline-block;*/
    /*border-radius: 50%;*/
    /*background-size: cover;
    background-position: center;*/
    margin: 2px auto;
    position: relative;
    box-sizing: border-box;
    /*border-left: solid 5px #575757;*/
}

    /*.friend-div:hover{
        background: green;
    }*/

    .friend-div p {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    width: 100%;
    overflow: hidden;
    }

        .friend-div p:hover {
            background: #333;
            border-left: 5px solid #4EBA6F;
            width: 60%;
            padding: 3px;
            /*opacity: 0.7;*/
            /*border-radius: 10px;*/
            transition: ease-in-out 0.3s;
            -webkit-box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
            -moz-box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
            box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
        }

  


#friend-item {
    position: sticky;
    top: 7.5px;
    margin: 3px auto 0 auto;
    width: 98%;
    padding-top: 4px;
    min-width: 120px;
    box-sizing: border-box;
}

.navbar-profile-image {
    width: 100%;
    /*border-radius: 50%;*/
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    
}

.centered-text {
    position: absolute;
    text-align: center;
    /*margin: 0px auto;*/
    top: 0;
    /*left: 50%;*/
    font-weight: 100;
    /*transform: translate(-50%, -50%);*/
    font-size: 3vh;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}