* {
    padding: 0;
    margin: 0;
   
}

a {
    text-decoration: none;
    color: #fafafa;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

button:hover {
    background: #ededed;
    color: #4c63a3;
    transition: ease-in: 0.3s;
    -webkit-box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
    box-shadow: -23px 21px 35px 5px rgba(0,0,0,0.31);
}

#auth-container div input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    /*padding: 16px 32px;*/
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: #0285A8;
}

#main-content {
    max-width: 2400px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background: #333;
}

#auth-form-loggedin {
    display: none;
}

/*friends stuff*/


#friends-container {
    background: #2f2f2f;
    width: 100%;
    min-width: 50px;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    font-size: 1.1em;
    color: #fff;
    z-index: 110;
    /*display: grid;*/
}

.friends {
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.has-friend-request {
    color: #79BD8F;
    width: 100%;
    display: grid;
    justify-content: center;
}

.friend-request-item {
    margin-bottom: 2px;
    background: none;
    padding: 3px;
    box-sizing: border-box;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
}

    .friend-request-item:first-child {
        margin-top: 10px;
    }

.backdrop {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}