* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

#auth-container div input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    /*padding: 16px 32px;*/
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#main-content {
    /*display: grid;*/
    /*grid-template-columns: 1fr ;*/
    grid-auto-rows:auto;
    /*grid-template-areas: 
        "friends search"  
        none "chat";*/
    /*background: red;*/
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#friends-container {
    background: #eaeaea;
    position: fixed;
    width: 60px;
    height: 100%;
    grid-area: friends;
    padding: 4px;
 
    
}

.has-friend-request{
    color: green;
}
