#navbar {
    /*background: #F44336;*/
    background: #fff;
    width: 100%;
    height: 6%;
    display: flex;
    border: none;
    top: 0;
    position: fixed;
    z-index: 100000;
   
}

#friend-list-menu {
    height: 100%;
    width: 100%;
    color: #54a66d;
    font-size: 0.6em;
    font-weight: 600;
    text-align: center;
    /*justify-content: center;*/
    box-sizing: border-box;
    /*z-index: 110;*/
    cursor: pointer;
    background: #fff;
    border-bottom: #54a66d 5px solid;
    
}

 .fa-user-friends{
    /*font-size: 1.2em;*/
    margin: 5px auto;
    color: #54a66d;
    font-size: 1.8em;
}

#friend-list-menu:hover {
    background: #6BB983;
    color: #fff;
}

#friend-list-menu:hover  .fa-user-friends {
    color: #fff;
}



/*Auth nav bar*/
#auth-navbar {
    background: #333;
    display: grid;
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 2vh;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    border-bottom: 5px solid rgb(141, 62, 121)
}

    #auth-navbar input {
        background: #02BEC4;
        font-size: 2vh;
    }

    #auth-navbar:hover #auth-form-loggedin {
        display: block;
        margin-top: 20px;
        z-index: 200;
    }

#auth-navbar a {
    position: absolute;
    height: 100%;
    bottom: 0;
}

#profile {
    width: 100%;
    
}

.navbar-no-profile-image p  {
    background: red;
    margin: 0 auto;
    width: 100%;
}

#friend-request-container {
    color: #FF6138;
    font-size:  1.3em;
    font-weight: 100;
    cursor: pointer;
    background: #fff;
    border-bottom: #FF6138 5px solid;
    height: 100%;
    width: 100%;
    /*display: grid;*/
    text-align: center;
    /*justify-content: center;*/
    box-sizing: border-box;
    z-index: 10;
    
}

    #friend-request-container:hover {
        background: #FF6138;
    color: #fff;

    }
    #friend-request-result {
    z-index: 10;
    background: #0285A8;
    margin: 15% auto;
}

    #friend-request-result button {
        margin: 3px;
        padding: 2px;
    }