#search-container {
    position: relative;
    text-align: center;
    transition: 0.4s ease-in;
    width: 100%;
    height: 100%;
    background: none;
    box-sizing: border-box;
    border-bottom: 5px solid #0097cf;
    z-index: 10;
}

#search-container:hover {
    background: #F44336;
}

#search-container .fas.fa-search {
    box-sizing: border-box;
    margin: 5px auto;
    border-radius: 50%;
    color: #0097cf;
    font-size: 1.1em;
    transition: all 1s;
    box-sizing: border-box;
}

.tt-input {
    border: none;
    outline: none;
    font-size: 0.9em;
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
}

.tt-hint {
    color: rgb(110, 110, 110);
    border: none;
    outline: none;
    font-size: 0.9em;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
    background: none;
}



.tt-menu.tt-open {
    /* margin: 0 auto 0 -22%; */
    position: relative;
    left: 0;
    right: 0;
    width: 100%;

    /* padding: 8px 0; */
    background: none;
    color: #fafafa;
    border: none;
    display: grid;
    box-sizing: border-box;
    z-index: 10000;
   
}

.tt-suggestion {
    display: grid;
    
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: auto;
    cursor: pointer;
    box-sizing: border-box;
    border: none;

}

.tt-suggestion.tt-selectable {
    background: #06749c;
    padding: 3px;
    margin: 0 auto 0 auto;
    position: relative;
    height: 100px;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    z-index: 3000;
}

.tt-suggestion.tt-selectable:hover {
    background-color: #0097cf;
    z-index: 3000;
}

.tt-suggestion.tt-selectable:hover remote {
    display: block;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    z-index: 3000;
}

.tt-suggestion p {
    margin: 0;
}

/*.twitter-typeahead {
    background: white;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}*/

#search-input {
    width: 100%;
    background: none;
    color: white;
}

/*important div*/
.typeahead {
    width: 100%;
    box-sizing: border-box;
    color: white;
}

#remote {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    text-align: center;
    /* border-radius: 20px; */
    /* padding: 0 5px; */
}

#search-container:hover {
    cursor: pointer;
    z-index: 10000;
    background: #0097cf;
    color: #fff;
    padding: 0 100px;

}

#search-container:hover .fas {
    display: none;
}

#search-container:hover #remote {
    display: block;
    margin: 0 auto;

    width: 100%;
    /* background: #F44336; */
    box-sizing: border-box;
    display: grid;
}

#cover {
    position: absolute;
    grid-area: search;
    box-sizing: border-box;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background: red; */
}

/*@media only screen and (max-width: 800px) {
    #search-container:hover {
        width: 100%;
        position: relative;
        height: 10%;
        cursor: pointer;
        z-index: 10000;
        background: #333;
    }
}*/